<h1>Hello <%= user._json.name %></h1>
<p>Your email : <%= user._json.email %></p>
<div><img src="<%=user.photos[0].value%>" alt="" /></div>
<p>
  <a href="/api/auth/facebook/logout"><button>Logout</button></a>
</p>
