<h1>Express JS</h1>
<div>
  <a href="/api/auth/google">
    <button>Login with Google</button>
  </a>
</div>
<p></p>
<div>
  <a href="/api/auth/facebook">
    <button>Login with Facebook</button>
  </a>
</div>
