<form action="/api/users/paypalgateway" method="post">
  <div class="dienthoai">
    <h1>
      <img
        src="https://cdn.tgdd.vn/Products/Images/42/50920/dien-thoai-di-dong-apple-iphone-4S-dienmay.com-b.jpg"
      />
    </h1>
    <p>Iphone 4s</p>
    <h4>25.00 USD</h4>
    <div class="button"></div>
  </div>
  <input type="submit" value="Buy" />
</form>
